.blogs-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 50px;
}

.blog-item-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(217, 217, 217, 0.04);
  width: 100%;
  padding: 15px;
  border-radius: 5px;
  cursor: pointer;
}

.light-blog-item-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: none;
  width: 100%;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 6px 7px 9px rgba(85, 81, 81, 0.7);
  transition: box-shadow 1s ease;
  cursor: pointer;
}

.preview-image-container {
  height: fit-content;
  border: 1px solid var(--primary-accent-color);
  padding: 4px;
  border-radius: 3px;
  margin-bottom: 20px;
}

.light-preview-image-container {
  height: fit-content;
  padding: 4px;
  border-radius: 3px;
  margin-bottom: 20px;
}

.preview-image {
  aspect-ratio: 16/9;
  border-radius: 3px;
}

.blog-title-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.mobile-info-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.mobile-blog-tags-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.desktop-blog-tags-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  text-transform: lowercase;
}

.desktop-blog-tags-container .tag {
  margin-bottom: 0;
}

.desktop-inner {
  display: none;
  flex: 1;
  flex-direction: column;
}

.mobile-inner {
  width: 100%;
}

.back-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.back-icon {
  transform: rotate(90deg);
  margin-right: 10px;
  transition: margin-right ease 0.5s;
}

.back-button {
  font-family: var(--header-font-family);
  color: #00a3ff;
  font-weight: 700;
  font-size: 20px;
}

.blog-intro {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.author-icon {
  width: 30px;
  aspect-ratio: 1;
  margin-right: 10px;
}

.share-links-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.share-link {
  margin-left: 20px;
}

.share-link-trigger {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background: crimson; */
}

.blog-heading-extra-bold[data-theme="dark"] {
  --color: var(--primary-text-color);
}

.blog-heading-extra-bold[data-theme="light"] {
  --color: var(--light-primary-text-color);
}

.blog-heading-extra-bold {
  font-size: 25px;
  font-family: var(--header-font-family);
  font-weight: 900;
  color: var(--color);
}

.content-link[data-theme="dark"] {
  --color: var(--primary-accent-color);
}

.content-link[data-theme="light"] {
  --color: var(--light-primary-accent-color);
}

.content-link {
  color: var(--color);
  /* text-decoration: none; */
}

.article-type-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
}

.author-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.blog-descriptor[data-theme="dark"] {
  --bg: var(--secondary-accent-color)
}

.blog-descriptor[data-theme="light"] {
  --bg: var(--light-primary-accent-color)
}

.blog-descriptor {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5px 20px;
  border-radius: 20px;
  font-family: var(--copy-font-family);
  background-color: var(--bg);
  font-size: 12px;
  color: var(--primary-text-color)
}

@media screen and (min-width: 768px) {
  .blog-heading-extra-bold {
    font-size: 40px;
  }
}

@media screen and (min-width: 1024px) {
  .preview-image {
    width: 200px;
    aspect-ratio: 16/9;
    border-radius: 3px;
  }

  .desktop-inner {
    display: flex;
  }

  .mobile-inner {
    display: none;
  }

  .blog-title-container {
    flex-direction: row;
  }

  .preview-image-container {
    margin-bottom: 0;
    margin-right: 20px;
  }

  .light-preview-image-container {
    margin-bottom: 0;
    margin-right: 20px;
  }

  .preview-image {
    width: 250px;
    max-width: 250px;
  }
}

@media screen and (min-width: 1440px) {
  .blog-content-container,
  .blog-article-title-container,
  .blog-intro {
    padding: 0 150px;
  }

  .blog-heading-extra-bold {
    font-size: 50px;
  }
}
