.blogs-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 50px;
  /* background: cyan */
}

.blog-item-container[data-theme="dark"] {
  --bg-color: rgba(217,217,217,0.04);
}

.blog-item-container[data-theme="light"] {
  --bg-color: rgba(146,146,146,0.2);
}

.blog-item-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background: linear-gradient(to left, var(--primary-accent-color), var(--secondary-accent-color)); */
  /* margin-bottom: 20px; */
  /* padding: 1px; */
  background: var(--bg-color);
  width: 100%;
  padding: 15px;
  border-radius: 5px;
  /* overflow: hidden */
}

.blog-item-container-inner {
  /* display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; */
  /* background: var(--dark-background); */
  /* width: 100%;
  padding: 20px; */
  /* border-radius: 5px; */
}

.preview-image-container {
  /* display: flex; */
  /* flex-direction: row; */
  /* justify-content: center; */
  height:fit-content;
  /* margin-right: 25px; */
  /* background: magenta; */
  border: 1px solid var(--primary-accent-color);
  padding: 4px;
  border-radius: 3px;
  margin-right: 20px;
  /* margin-bottom: 20px */
}

.light-preview-image-container {
  /* display: flex; */
  /* flex-direction: row; */
  /* justify-content: center; */
  height:fit-content;
  /* margin-right: 25px; */
  /* background: magenta; */
  /* border: 1px solid var(--primary-accent-color); */
  padding: 4px;
  border-radius: 3px;
  margin-right: 20px;
  /* margin-bottom: 20px */
}

.preview-image {
  width: 115px;
  aspect-ratio: 16/9;
  border-radius: 3px;
}

.blog-title-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  /* text-align: center; */
  /* background: skyblue; */
  width: 100%;
}

.mobile-info-container {
  display: flex;
  flex-direction: row;
  /* justify-content: flex-end; */
  align-items: center;
  /* background: crimson; */
  width: 100%;
  /* margin-bottom: 20px */
}

.mobile-blog-tags-container {
  display: flex;
  /* background: brown; */
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  text-transform: uppercase;
  width: 100%
}

.desktop-blog-tags-container {
  display: flex;
  /* background: gold; */
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  text-transform: uppercase;
  width: 100%
}

.desktop-blog-tags-container .tag {
  margin-bottom: 0;
}

.desktop-inner {
  display: none;
  flex: 1;
  flex-direction: column;
  /* background: crimson */
}

.mobile-inner {
  width: 100%;
  /* flex: 1; */
  background: purple
}

.back-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.back-icon {
  transform: rotate(90deg);
  margin-right: 10px;
  transition: margin-right ease 0.5s
}

.back-button {
  font-family: var(--header-font-family);
  color: #00a3ff;
  font-weight: 700;
  font-size: 20px
}

.static-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  /* top: -200px; */
  /* background: crimson; */
  backdrop-filter: blur(15px);
  background: rgba(217,217,217,0.04);
  left: 0;
  right: 0;
  padding: 35px 80px;
  z-index: 1;
  border-bottom-right-radius: 50px;
  border-bottom-left-radius: 50px;
  transition: top 0.5s ease;
  box-shadow: 0.5px 0.5px #636363;
}


@media screen and (min-width: 1024px) {
  .preview-image {
    width: 200px;
    aspect-ratio: 16/9;
    border-radius: 3px;
  }

  .desktop-inner {
    display: flex;
    /* background: crimson */
  }
  
  .mobile-inner {
    display: none;
    /* background: purple */
  }
}