:root {
  /* Fonts */
  --header-font-family: "Montserrat";
  --copy-font-family: "Inter";
  /* Colors */
  --primary-accent-color: #ceff00;
  --secondary-accent-color: #00a3ff;
  --primary-text-color: #ffffff;
  --secondary-text-color: #d5d5d5;

  --light-primary-accent-color: #9F00EA;
  --light-secondary-accent-color: #EA8D00;
  --light-primary-text-color: #555151;
  --light-secondary-text-color: #000;
  /* Theme Colors */
  --light-background: #F1F1F1;
  --dark-background: #0e1231;
}

body[data-theme='dark'] {
  --bg-color: var(--dark-background);
}

body[data-theme='light'] {
  --bg-color: var(--light-background);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: var(--bg-color);
  transition: background-color 1s ease, color 1s ease;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

/* Theme toggle color data options */

.primary-heading-bold[data-theme="dark"] {
  --color: var(--primary-text-color)
}

.primary-heading-bold[data-theme="light"] {
  --color: var(--light-primary-text-color)
}

.heading-extra-bold[data-theme="dark"] {
  --font-color: linear-gradient(to right, var(--primary-accent-color),var(--secondary-accent-color) 50%);
}

.heading-extra-bold[data-theme="light"] {
  --font-color: linear-gradient(to right, var(--light-primary-accent-color), var(--light-secondary-accent-color) 50%);
}

.page-heading-extra-bold[data-theme="dark"] {
  --font-color: linear-gradient(to right, var(--primary-accent-color),var(--secondary-accent-color) 50%);
}

.page-heading-extra-bold[data-theme="light"] {
  --font-color: linear-gradient(to right, var(--light-primary-accent-color), var(--light-secondary-accent-color) 50%);
}

.secondary-heading-semi-bold[data-theme="dark"] {
  --color: var(--primary-accent-color)
}

.secondary-heading-semi-bold[data-theme="light"] {
  --color: var(--light-secondary-accent-color)
}

.reverse-secondary-heading-semi-bold[data-theme="dark"] {
  --color: var(--secondary-accent-color)
}

.reverse-secondary-heading-semi-bold[data-theme="light"] {
  --color: var(--light-primary-accent-color)
}

.tertiary-heading-semi-bold[data-theme="dark"] {
  --color: var(--primary-accent-color)
}

.tertiary-heading-semi-bold[data-theme="light"] {
  --color: var(--light-secondary-accent-color)
}

.copy-font[data-theme="dark"] {
  --color: var(--secondary-text-color)
}

.copy-font[data-theme="light"] {
  --color: var(--light-primary-text-color)
}

.navbar[data-theme='dark'] {
  --bg-color: var(--dark-background);
}

.navbar[data-theme='light'] {
  --bg-color: var(--light-background);
}

.tag[data-theme="dark"] {
  --bg-color: rgba(0, 163, 255, 0.15);
  --text-color: var(--secondary-accent-color);
}

.tag[data-theme="light"] {
  --bg-color: rgba(159, 0, 234, 0.15);
  --text-color: var(--light-primary-accent-color);
}

.contact-form input[data-theme="dark"] {
  --border-color: linear-gradient(to left, var(--primary-accent-color), var(--secondary-accent-color));
  --text-color: var(--primary-text-color);
}

.contact-form input[data-theme="light"] {
  --border-color: linear-gradient(to right, var(--light-primary-accent-color), var(--light-secondary-accent-color));
  --text-color: var(--light-primary-text-color);
}

::placeholder[data-theme="dark"] {
  --text-color: var(--primary-text-color);
}

::placeholder[data-theme="light"] {
  --text-color: var(--light-primary-text-color);
}

.contact-form textarea[data-theme="dark"] {
  --border-color: linear-gradient(to left, var(--primary-accent-color), var(--secondary-accent-color));
  --text-color: var(--primary-text-color);
}

.contact-form textarea[data-theme="light"] {
  --border-color: linear-gradient(to right, var(--light-primary-accent-color), var(--light-secondary-accent-color));
  --text-color: var(--light-primary-text-color);
}

.link-bold[data-theme="dark"] {
  --color: var(--secondary-accent-color)
}

.link-bold[data-theme="light"] {
  --color: var(--light-secondary-accent-color)
}

ol[data-theme="dark"] {
  --color: var(--primary-accent-color)!important
}

ol[data-theme="light"] {
  --color: var(--light-primary-accent-color)!important
}

ol {
  color: var(--color);
  font-family: var(--copy-font-family) !important;
}

.link-bold {
  font-size: 15px;
  font-family: var(--header-font-family);
  font-weight: 700;
  margin-right: 30px;
  color: var(--color);
}

.heading-extra-bold {
  font-size: 38px;
  font-family: var(--header-font-family);
  font-weight: 900;
  background: var(--font-color);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.page-heading-extra-bold {
  font-size: 20px;
  font-family: var(--header-font-family);
  font-weight: 900;
  /* color: red; */
  background: var(--font-color);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  align-self:center;
}

.primary-heading-bold {
  font-size: 20px;
  font-family: var(--header-font-family);
  color: var(--color);
  font-weight: 700;
}

.primary-heading-semi-bold {
  font-size: 20px;
  font-family: var(--header-font-family);
  color: var(--primary-text-color);
  font-weight: 100;
}

.secondary-heading-semi-bold {
  font-size: 20px;
  font-family: var(--header-font-family);
  color: var(--color);
  font-weight: 100;
}

.reverse-secondary-heading-semi-bold {
  font-size: 20px;
  font-family: var(--header-font-family);
  color: var(--color);
  font-weight: 100;
}

.secondary-heading-bold {
  font-size: 20px;
  font-family: var(--header-font-family);
  color: var(--primary-accent-color);
  font-weight: 700;
}

.tertiary-heading-semi-bold {
  font-size: 20px;
  font-family: var(--header-font-family);
  color: var(--color);
  font-weight: 100;
}

.copy-font {
  font-size: 15px;
  font-family: var(--copy-font-family);
  color: var(--color);
  font-weight: 100;
}

.home-container {
  display: flex;
  flex-direction: column;
  position: relative;
}

.home-container-left {
  display: none;
}

.home-container-right {
  display: flex;
  flex-direction: column;
  background: var(--primary-bg-color);
  padding: 100px 75px 80px 20px;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  width: 100%;
  position: fixed;
  z-index: 3;
  background-color: var(--bg-color);
  transition: background-color 1s ease, color 1s ease;
}

.navbar-left {
  display: flex;
  align-items: center;
  padding-left: 20px;
  height: 100%;
  width: 20%;
}

.navbar-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* background: orange; */
  flex: 1;
  height: 100%;
}

.navbar-right {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding-right: 20px;
  height: 100%;
  width: 20%;
  /* background: cyan */
}

.alt-navbar {
  display: none;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 125px;
  width: 100%;
  position: fixed;
  z-index: 3;
  padding: 0 80px;
  /* background: cyan; */
  /* background-color: var(--bg-color); */
  backdrop-filter: blur(10px);
  transition: background-color 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
  border-bottom-left-radius: 80px;
  border-bottom-right-radius: 80px;
}

.alt-navbar-left {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  /* background: purple; */
  height: 100%;
}

/* .alt-navbar-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex: 1;
  height: 100%
} */

.alt-navbar-right {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  /* width: 15%; */
  height: 100%;
  /* background: orangered */
}

/* .content-section {
  display: flex;
  flex-direction: column;
  padding: 100px 60px 0 20px;
} */

.section-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 25px;
  width: 100%;
  /* background: red; */
}

.content-container {
  display: flex;
  flex-direction: column;
  /* margin-bottom: 20px; */
  /* background: cyan; */
}

.toggle-open {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 20px;
  width: 25px;
  position: relative;
  transition: margin-left 0.5s;
}

.toggle-bar-1 {
  position: absolute;
  height: 1px;
  width: 100%;
  background: var(--primary-accent-color);
  z-index: 1;
  transition: top 0.25s;
}

.toggle-bar-2 {
  position: absolute;
  top: 50%;
  height: 1px;
  width: 100%;
  background: var(--primary-accent-color);
  z-index: 2;
}

.toggle-bar-3 {
  position: absolute;
  height: 1px;
  width: 100%;
  background: var(--primary-accent-color);
  z-index: 0;
  transition: bottom 0.25s;
}

.light-toggle-bar-1 {
  position: absolute;
  height: 1px;
  width: 100%;
  background: var(--light-primary-accent-color);
  z-index: 1;
  transition: top 0.25s;
}

.light-toggle-bar-2 {
  position: absolute;
  top: 50%;
  height: 1px;
  width: 100%;
  background: var(--light-primary-accent-color);
  z-index: 2;
}

.light-toggle-bar-3 {
  position: absolute;
  height: 1px;
  width: 100%;
  background: var(--light-primary-accent-color);
  z-index: 0;
  transition: bottom 0.25s;
}

.logo-container {
  padding-right: 60px;
}

.logo-icon {
  margin-right: 20px;
  margin-bottom: 20px;
}

.heading-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.heading-title {
  width: auto;
}

.solid-heading-line-primary {
  flex: 1;
  height: 1px;
  width: 70px;
  background:  var(--primary-accent-color)
}

.solid-heading-line-secondary {
  flex: 1;
  height: 1px;
  width: 70px;
  background:  var(--secondary-accent-color)
}

.solid-heading-line-light-primary {
  flex: 1;
  height: 1px;
  width: 70px;
  background:  var(--light-primary-accent-color)
}

.solid-heading-line-light-secondary {
  flex: 1;
  height: 1px;
  width: 70px;
  background:  var(--light-secondary-accent-color)
}

.heading-line {
  flex: 1;
  margin-left: 10px;
  height: 1px;
  width: 70px;
  background: linear-gradient(
    to right,
    var(--primary-accent-color),
    var(--secondary-accent-color)
  );
}

.heading-line-reversed {
  flex: 1;
  margin-right: 10px;
  height: 1px;
  width: 70px;
  background: linear-gradient(
    to left,
    var(--primary-accent-color),
    var(--secondary-accent-color)
  );
}

.light-heading-line {
  flex: 1;
  margin-right: 10px;
  height: 1px;
  width: 70px;
  background: linear-gradient(
    to right,
    var(--light-primary-accent-color),
    var(--light-secondary-accent-color)
  );
}

.light-heading-line-reversed {
  flex: 1;
  margin-left: 10px;
  height: 1px;
  width: 70px;
  background: linear-gradient(
    to left,
    var(--light-primary-accent-color),
    var(--light-secondary-accent-color)
  );
}

.bottom-spacing {
  margin-bottom: 25px;
}

.contact-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 180px;
  border: 1px solid transparent; /* Set border to transparent */
  border-image: linear-gradient(
    to right,
    var(--primary-accent-color),
    var(--secondary-accent-color)
  ); /* Apply linear gradient */
  border-image-slice: 1; /* Ensure gradient covers entire border */
  margin-top: 25px;
}

.light-contact-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 180px;
  border: 1px solid transparent;
  border-image: linear-gradient(
    to right,
    var(--light-secondary-accent-color),
    var(--light-primary-accent-color)
  ); 
  border-image-slice: 1; /* Ensure gradient covers entire border */
  margin-top: 25px;
  box-shadow: 6px 7px 9px rgba(85, 81, 81, 0.7);
  transition: box-shadow 0.5s ease, color 0.5s ease;
}

.light-contact-button:hover{
  box-shadow: none;
}

.project-image-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--primary-accent-color);
  padding: 8px;
  border-radius: 5px;
}

.light-project-image-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  padding: 8px;
}

.link-arrow {
  width: 20px;
  margin-left: 10px;
}

.tags-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-transform: lowercase;
}

.tag {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--bg-color);
  font-size: 12px;
  font-family: var(--copy-font-family);
  color: var(--text-color);
  font-weight: 100;
  padding: 5px 15px;
  border-radius: 20px;
  margin-right: 10px;
  margin-bottom: 10px;
}


.project-image {
  width: 100%;
  aspect-ratio: 16 / 9;
  border-radius: 5px;
}

.contact-form {
  width: 100%;
}

.contact-form form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-form input {
  padding-left: 10px;
  height: 50px;
  width: 100%;
  margin-bottom: 10px;
  font-size: 16px;
  color: var(--text-color);
  background-color: transparent;
  border: 1px solid transparent;
  border-image: var(--border-color);
  border-image-slice: 1; /* Ensure gradient covers entire border */
}

.contact-form textarea {
  padding-left: 10px;
  padding-top: 10px;
  height: 200px;
  width: 100%;
  margin-bottom: 10px;
  font-size: 16px;
  color: var(--text-color);
  background-color: transparent;
  border: 1px solid transparent; /* Set border to transparent */
  border-image: var(--border-color);
  border-image-slice: 1; /* Ensure gradient covers entire border */
  resize: none;
}

::placeholder {
  font-size: 16px;
  color: var(--text-color);
  font-family: var(--copy-font-family);
}


.submit-button {
  height: 50px;
  width: 180px;
  border: none;
  font-size: 16px;
  color: var(--light-secondary-text-color);
  background: linear-gradient(to left, var(--primary-accent-color), var(--secondary-accent-color));
}

.light-submit-button {
  height: 50px;
  width: 180px;
  border: none;
  font-size: 16px;
  color: #f1f1f1;;
  background: linear-gradient(to right, var(--light-primary-accent-color), var(--light-secondary-accent-color));
  box-shadow: 6px 7px 9px rgba(85, 81, 81, 0.7);
  transition: box-shadow 0.5s ease, color 0.5s ease;
}

.light-submit-button:hover {
  box-shadow: none;
}

.navigation-items {
  margin-top: 50px;
}

.link {
  text-decoration: none;
}

.container-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.container-row-right {
  margin-left: 20px;
  padding-left: 18px;
}

.no-decoration {
  text-decoration: none;
}

.link-container {
  display: flex;
  flex-direction: row;
  /* background: gold; */
}

/* .socials-container {
  display: flex;
  flex-direction: row;
  padding-top: 25px;
}

.social-link {
  margin-right: 20px;
} */

.mobile-hidden {
  display: none;
}

.link-arrow[data-screensize="laptop-and-up"] {
  display: none;
}

.static-link[data-theme="dark"] {
  --color: var(--primary-text-color);
}

.static-link[data-theme="light"] {
  --color: var(--light-primary-text-color);
}

.static-link {
  font-size: 15px;
  font-family: var(--header-font-family);
  color: var(--color);
  font-weight: 100;
  text-decoration: none;
}

.featured-project-container {
  display: flex;
  flex-direction: column;
}

.page-not-found-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  padding: 15px;
}

#about, #work, #projects, #contact {
  scroll-margin-top: 80px;
}

.mobile-socials-container {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px 20px;
}

.desktop-socials-container {
  margin-top: 40px;
}

.social-link {
  margin-right: 20px;
}

/* ul, ol, li {
  color: #FFF;
  font-family: var(--copy-font-family)
} */

@media screen and (min-width: 768px) {
  .page-heading-extra-bold {
    font-size: 45px;
  }

  .home-container-right {
    padding: 100px 100px 0 80px;
  }

  .navbar {
    padding: 0 80px;
  }

  .navbar-left, .navbar-right {
    padding: 0;
  }

  .heading-extra-bold {
    font-size: 50px;
  }

  .page-heading-extra-bold {
    font-size: 40px;
  }

  .link-arrow[data-screensize="mobile-and-up"] {
    display: none;
  }
}

@media screen and (min-width: 1024px) {
  .alt-navbar {
    display: flex;
  }
  
  .home-container {
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 55px;
  }

  .home-container-left {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100vh;
    position: fixed;
    z-index: 2;
    left: 0;
    padding: 0px 80px 0 80px;
  }

  .home-container-right {
    width: 50%;
  }

  .navbar {
    display: none;
  }

  .home-container-right {
    padding: 0px 80px 0 50px;
  }

  .mobile-intro {
    display: none;
  }

  .desktop-spacing {
    padding: 0;
  }

  .desktop-hidden {
    display: none;
  }

  .mobile-hidden {
    display: flex;
  }

  .mobile-link-container {
    cursor: pointer;
  }

  .contact-form button {
    cursor: pointer;
  }

  .heading-container {
    justify-content: flex-end;
  }

  .contact-button {
    cursor: pointer;
  }

  .light-contact-button {
    cursor: pointer;
  }

  .heading-extra-bold {
    font-size: 45px;
  }

  .link-arrow[data-screensize="laptop-and-up"] {
    display: flex;
  }
}

@media screen and (min-width: 1440px) {
  .page-heading-extra-bold {
    font-size: 50px;
  }

  .heading-extra-bold {
    font-size: 50px;
  }
}

@media screen and (min-width: 1920px) {
  .alt-navbar {
    padding: 0 150px;
  }

  .home-container-left {
    padding: 0px 150px 0 150px;
  }

  .home-container-right {
    padding: 0px 150px 0 150px;
  }
}

@media screen and (min-width: 2560px) {
  .alt-navbar {
    padding: 0 250px;
  }

  .home-container-left {
    padding: 0px 250px 0 250px;
  }

  .home-container-right  {
    padding: 0px 250px 0 250px;
  }
}

/* rotate device warnings */

.rotate-warning-container {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.light-rotate-warning-container {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.rotate-warning {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.rotate-icon {
  margin-top: 10px;
}

@media (max-width: 1023px) and (orientation: landscape) {
  .rotate-warning-container {
    display: flex; /* Show a warning */
  }

  .light-rotate-warning-container {
    display: flex; /* Show a warning */
  }

  .layout-container {
    display: none;
  }
}

@media (max-width: 1023px) and (orientation: portrait) {
  .rotate-warning-container {
    display: none; /* Hide warning */
  }

  .light-rotate-warning-container {
    display: none; /* Show a warning */
  }

  .layout-container {
    display: contents;
  }
}
