.projects-slider[data-theme="dark"] {
  --bg-color: var(--dark-background);
}

.projects-slider[data-theme="light"] {
  --bg-color: var(--light-background);
}

.selectors-container[data-theme="dark"] {
  --bg-color: var(--dark-background);
}

.selectors-container[data-theme="light"] {
  --bg-color: var(--light-background);
}

.project-page-container {
  display: flex;
  flex-direction: column;
  padding-top: 100px;
}

.selectors-container {
  position: fixed;
  z-index: 90;
  top: 50;
  left: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-left: 15px;
  background-color: var(--bg-color);
  transition: background-color 1s ease;
}

.selector {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
  padding: 5px 0;
}

.selector-indicator[data-theme="dark"] {
  --bg: var(--primary-accent-color)
}

.selector-indicator[data-theme="light"] {
  --bg: var(--light-primary-accent-color)
}

.selector-indicator {
  height: 5px;
  aspect-ratio: 1;
  border-radius: 3px;
  background-color: var(--bg);
  margin-left: 8px
}

.project-image {
  aspect-ratio: 16/9;
  border-radius: 3px;
}

.projects-slider {
  position: absolute;
  width: 100%;
  background-color: var(--bg-color);
  transition: margin-left 0.5s, background-color 1s ease;
  padding: 0 0 200px 80px !important;
}

.content-container-top {
  margin: 0 0 15px 15px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(146, 146, 146, 0.1);
}

/* Project template */

.project-page-image-container {
  height: fit-content;
  border: 1px solid var(--primary-accent-color);
  padding: 4px;
  border-radius: 3px;
  margin: 20px 0;
}

.light-project-page-image-container {
  height: fit-content;
  padding: 4px;
  border-radius: 3px;
  margin: 20px 0;
}

.project-title-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 15px;
}

.project-description-container {
  padding-top: 15px;
}

.all-tags-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.back-arrow {
  transform: rotate(90deg);
  margin-right: 3px;
  width: 10px;
  aspect-ratio: 1;
}

.project-description-container > a {
  text-decoration: none;
}

.columns-container[data-theme="dark"] {
  --bg: linear-gradient(
    to right,
    var(--primary-accent-color),
    var(--secondary-accent-color)
  );
}

.columns-container[data-theme="light"] {
  --bg: linear-gradient(
    to right,
    var(--light-primary-accent-color),
    var(--light-secondary-accent-color)
  );
}
.columns-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-bottom: 15px;
  background: var(--bg);
  transition: background-color 1s ease;
}

.year-column-container[data-theme="dark"] {
  --bg: var(--primary-accent-color)
}

.year-column-container[data-theme="light"] {
  --bg: var(--light-primary-accent-color)
}

.year-column-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-bottom: 15px;
  background: var(--bg);
}

.columns-container-inner[data-theme="dark"] {
  --bg: var(--dark-background);
}

.columns-container-inner[data-theme="light"] {
  --bg: var(--light-background);
}

.columns-container-inner {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  background: var(--bg);
  margin-bottom: 1px;
  transition: background-color 1s ease;
}

.project-name-column {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 250px;
  padding: 5px 15px;
  margin-right: 20px;
}

.built-with-column {
  display: none;
  flex-direction: row;
  height: 100%;
  width: 400px;
  padding: 5px 25px;
  margin-right: 20px;
}

.description-column {
  display: none;
  flex-direction: row;
  height: 100%;
  flex: 1;
  padding: 5px 15px;
  margin-right: 20px;
}

.year-column[data-theme="dark"] {
  --bg: var(--dark-background)
}

.year-column[data-theme="light"] {
  --bg: var(--light-background)
}

.year-column {
  padding: 5px 0;
  width: 100%;
  margin-bottom: 1px;
  background-color: var(--bg);
  transition: background-color 1s ease;
}


@media screen and (min-width: 768px) {
  .selectors-container {
    padding-left: 80px;
  }

  .projects-slider {
    padding: 0 0 200px 140px !important;
  }
}

@media screen and (min-width: 1024px) {
  .selector {
    cursor: pointer;
  }

  .project-page-image-container {
    width: 450px;
    align-self: center;
  }

  .light-project-page-image-container {
    width: 450px;
    align-self: center;
  }


  .built-with-column {
    display: flex;
  }
}

@media screen and (min-width: 1440px) {
  .description-column {
    display: flex;
  }
}

@media screen and (min-width: 1920px) {
  .selectors-container {
    padding-left: 150px;
  }

  .projects-slider {
    padding: 0 0 200px 210px !important;
  }

  .project-page-image-container {
    width: 550px;
    align-self: center;
  }

  .light-project-page-image-container {
    width: 550px;
    align-self: center;
  }
}

@media screen and (min-width: 2560px) {
  .selectors-container {
    padding-left: 250px;
  }

  .projects-slider {
    padding: 0 0 200px 310px !important;
  }
}
