.rotate-warning-container {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  height: 100%;
  width: 100vw;
  backdrop-filter: blur(10px);
  background: rgba(217,217,217,0.04);
  z-index: 11
}

.light-rotate-warning-container {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  height: 100%;
  width: 100vw;
  backdrop-filter: blur(10px);
  background: rgba(146,146,146,0.2);
  z-index: 11
}

.rotate-warning {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background: crimson; */
}

.rotate-icon {
  margin-top: 10px;
}

@media (max-width: 1023px) and (orientation: landscape) {
  .rotate-warning-container {
    display: flex; /* Show a warning */
  }

  .light-rotate-warning-container {
    display: flex; /* Show a warning */
  }
}

@media (max-width: 1023px) and (orientation: portrait) {
  .rotate-warning-container {
    display: none; /* Hide warning */
  }

  .light-rotate-warning-container {
    display: none; /* Show a warning */
  }
}
